<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'Account')}">

<body>
<div class="container">
    <h1>アカウント管理</h1>
<table border ="1">
  <tr>
    <th>ID</th>
    <th>ユーザー名</th>
    <th>組織名</th>
    <th>Role</th>
  </tr>
<c:forEach var="record" items="${records}">

  <tr>
    <td>${record.custid}"</td>
    <td>${record.username}"</td>
    <td>${record.orgname}"</td>
    <td>${record.role}"</td>
  </tr>

</c:forEach>
</table>


</div>
</body>
</html>

