<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'Home')}">
<head>
<meta charset="UTF-8">
	<title>home</title>
	<link rel="stylesheet" type="text/css"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
		<div align="center">
			<input type="button" value="ViewLog" onclick="location.href='/db'"
				style="margin-top: 30px; class: glyphicon glyphicon-list; margin-right: 10px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #778899; font-size: 30px; font-color: black;">
			<input type="button" value="(●●●●●●)" onclick="location.href='/Account'"
				style="margin-top: 30px; margin-left: 10px; text-align: center; width: 400px; height: 70px; border-radius: 0.5em; background-color: #4682b4; font-size: 30px;">
			<input type="button" value="Signup" onclick="location.href='/signupform'">
		</div>
		<br>

	</div>
</body>
</html>
